/* Navigation bar styling */
nav {
    background-color: rgb(26, 30, 43); /* Sets the background colour of the navigation bar */
    display: flex; /* Uses Flexbox for layout */
    align-items: center; /* Centres items vertically within the nav */
}

/* Main heading (h1) styling */
h1 {
    color: rgb(255, 255, 255); /* Sets the text colour of the h1 element */
    margin-left: 20px; /* Adds space to the left of the h1 element */
    font-weight: bold; /* Makes the text bold */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Sets the font family */
}

/* Header section styling */
.div-1 {
    background-image: url('dungeonBanner.jpg'); /* Sets the background image */
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: center; /* Centres the background image */
    height: 500px; /* Sets the height of the header */
    display: flex; /* Uses Flexbox for layout */
    margin: 10px 0px 10px 0px;
    justify-content: center; /* Centres items horizontally within the header */
    align-items: center; /* Centres items vertically within the header */
    color: white; /* Sets the text colour to white */
    text-align: center; /* Centres the text */  
    font-weight: bold; /* Makes the text bold */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Sets the font family */
}