body{
    margin: 0px;
    background-image: url('necromancybackgroundplaceholder.jpg');
    background-size: cover;
    
}
h1{
    font-size: 100px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    width: 100%;
    max-width: 850px;
    border-radius: 50%;
    color:white;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    font-family: Calibri;
}

.nav {
    background-color: black;
    padding: 20px;
    width: 200px;
}

.nav ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

.nav li {
    margin: 10px 0; /* Add some margin between items */
}

.nav a {
    color: white; /* White text colour */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Font size */
}

.nav a:hover {
    text-decoration: underline; /* Underline on hover */
}

main {
    background-color: black;
    padding: 20px; /* Add some padding */
    flex-grow: 1; /* Allow main to grow and take available space */
    min-width: 500px;
    width: 40%;
    margin: 0 4%; /* Centre the main section */
    color: white;
}

.main h2{
    font-size: 50px;
    margin-bottom: 0px;
}
  
.menu {
    display: flexbox;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
}

.plant {
    width:30%;
}
.boss {
    width:30%;
}

div {
    border: 5px solid red;
}