h1{
    font-size: 100px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    width: 100%;
    max-width: 850px;
    border-radius: 50%;
    color:white;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    font-family: Calibri;
}

.nav {
    background-color: black;
    padding: 20px;
    width: 200px;
}

.nav ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

.nav li {
    margin: 10px 0; /* Add some margin between items */
}

.nav a {
    color: white; /* White text colour */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Font size */
}

.nav a:hover {
    text-decoration: underline; /* Underline on hover */
}

main {
    background-color: black;
    padding: 20px; /* Add some padding */
    flex-grow: 1; /* Allow main to grow and take available space */
    max-width: 1300px; /* Maximum width */
    margin: 0 auto; /* Centre the main section */
    color: white;
}
  
table, td{
    border: 1px solid;
    width: 40%;
    border-color: white;
    border-collapse: collapse;
}
